h1 {
    color: white ;
}

h2 {
    color:blue
}

h3 {
    background-color: yellow;
}

h4 {
    background-color: green;
    color: yellow;
}

h5 {
    color: red;
}

#firstChunk {
    background-color:lightskyblue;
}

#infernoTxt {
    color: red;
}

#fDay {
    background-color: lightgreen;
}

#DD {
    background-color: yellow;
}

.spanstyle{
    color: orange;
}

.spanstyle1{
    color: blue;
}