body {
    background-color: darkgray;
}

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 3px solid darkblue;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 3fr);
  }
  
.box {
    border: 1px solid black;
}

header {
    border-bottom: 2px solid darkblue;
    grid-column: span 12;
    padding-bottom: 1px;
    background-image: linear-gradient(to bottom, #136ef6, #1563e8, #1658db, #164ecd, #1543c0, #0e3fb5, #063caa, #00389f, #003993, #003987, #00387a, #0d376d);
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

header h1 {
    padding-left: 15px;
}

header a {
    color: lightblue;
    font-weight: lighter;
    text-decoration: none
}

nav {
    grid-column: span 3;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

nav li {
    width: 206px;
    padding-right: 0px;
    background-color: blue;
    padding: 15px;
    color: white;
    display: inline-block;  
    background-image: linear-gradient(to bottom, #136ef6, #1563e8, #1658db, #164ecd, #1543c0, #0e3fb5, #063caa, #00389f, #003993, #003987, #00387a, #0d376d);
}

nav li a {
    color:lightblue;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-left: 10px;
}

nav a:hover {
    color: white;
}

nav li:hover {
    background-color: darkblue;
    color: white;
}

nav a:active {
    color: white;
}

nav li:active {
    color: white;
}

#barbie h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: darkblue;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 3px solid blue;
}


#barbie {
    grid-column: span 4;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

#ken h2 {
    border-bottom: 3px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: darkblue;
    padding-bottom: 5px;
    padding-top: 10px;
}

#ken {
    grid-column: span 4;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

#allan h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: darkblue;
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
    padding-top: 10px;
}

#allan {
    grid-column: span 4;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

#barbie a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
}

#barbie a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#ken a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
}

#ken a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#allan a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
}

#allan a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.floatimg {
    float: left;
    width: 250px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-bottom: 12px;
    padding-top: 0px;
  }

.floatimg2 {
    float: none;
    width: 250px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-bottom: 12px;
    padding-top: 0px;
  } 

.floatimg3 {
    float: none;
    width: 250px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-bottom: 12px;
    padding-top: 0px;
  }  

.floatfoot {
    float: left;
}

  footer {
    border-top: 3px solid blue;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    grid-column: span 12;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: normal;
    font-style: italic;
    background-color: red;
    color: white;
    float: left;
}