body {
    background-color: darkgray;
}

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 3px solid darkblue;
    background-color: white;
    display:grid;
    grid-template-columns: repeat(12, 3fr);
}

.box {
    border: 1px solid black;
}

header {
    border-bottom: 2px solid darkblue;
    grid-column: span 12;
    padding-bottom: 1px;
    background-image: linear-gradient(to bottom, #136ef6, #1563e8, #1658db, #164ecd, #1543c0, #0e3fb5, #063caa, #00389f, #003993, #003987, #00387a, #0d376d);
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

header h1 {
    padding-left: 15px;
}

header a {
    color: lightblue;
    font-weight: lighter;
    text-decoration: none
}

nav {
    grid-column: span 3;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

nav li {
    width: 206px;
    padding-right: 0px;
    background-color: blue;
    padding: 15px;
    color: white;
    display: inline-block;  
    background-image: linear-gradient(to bottom, #136ef6, #1563e8, #1658db, #164ecd, #1543c0, #0e3fb5, #063caa, #00389f, #003993, #003987, #00387a, #0d376d);
}

nav li a {
    color:lightblue;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-left: 10px;
}

nav a:hover {
    color: white;
}

nav li:hover {
    background-color: darkblue;
    color: white;
}

nav a:active {
    color: white;
}

nav li:active {
    color: white;
}

#welcome {
    grid-column: span 8;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-top: 0px;
    background-color: white;
}

#welcome h2 {
    border-bottom: 3px solid blue;
    font-weight: lighter;
    padding-bottom: 5px;
    padding-top: 10px;
    color: blue;
}

main {
    grid-column: span 4;    
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightblue;
    text-align: justify;
    font-weight: bold;
}

#welcome a {
    text-decoration: none;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    /* font-size:medium; */
}

#welcome a:hover {
    text-decoration: underline;
}

.floatimg {
    float: right;
    width: 325px;
    /* padding-bottom: 10px; */
    margin-bottom: 5px;
    border: 3px solid darkblue;
  }

.floatfoot {
    float: left;
}

  footer {
    border-top: 3px solid blue;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    grid-column: span 12;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: normal;
    font-style: italic;
    background-color: red;
    color: white;
    float: left;
}