h1 {
    background-color: red;
    color:white;
}

h2 {
    background-color: red;
    color:white;
}
.nav{
    color: red;
}

.spanstyle{
    color: red;
}

a {
    color:red;
}

a:visited {
    color:green;
}

a:hover {
    color:yellow;
}

#sequence {
    background-color: #ed503b;
    color: white;
}